html {
  height: 100%;
  overflow-y: hidden;
  width: 100%;
}
body {
  background: url(/bing.php);
  background-size: cover;
  font-family: Microsoft Yahei, Microsoft Yahei;
}
iframe {
  border: medium none;
}
